.btn-dark-green {
    background-color: #006400; /* Dark green */
    color: white;
    border: 2px solid black;
}
.btn-light-green {
    background-color: #009100;
    color: white;
    border: 2px solid black;
}

.btn-dark-red {
    background-color: #b90000; /* Dark red */
    color: white;
    border: 2px solid black;
}

html, body {
    background-color: #222222;
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body {
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
    height: 100%;
}

.poker-table-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poker-table {
    width: 1000px;
    height: 500px;
    background-color: #116530;
    border: 8px solid #5c4033;
    border-radius: 50% / 40%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    position: relative;
    transform:translateY(-7vh);
}

.action-btn{
    display:flex;                
    justify-content:center;    
    align-items:center;   
    font-size:1.75rem;
    padding:1rem 2rem;          
    border:2px solid #000;
    flex:1 1 0;                
    min-width:0;               
}

.custom-navbar{
    background:#000f3a;
    --bs-navbar-color:#e0d9ff;
    --bs-navbar-hover-color:#ffffff;
    --bs-navbar-active-color:#00ccff;
    --bs-navbar-brand-color:#e0d9ff;
    --bs-navbar-brand-hover-color:#ffffff;
}

.custom-navbar .dropdown-menu{
    align-items: center;
    --bs-dropdown-bg:#000f3a;            
    --bs-dropdown-border-color:#000f3a;     
    --bs-dropdown-link-color:#e0d9ff;    
    --bs-dropdown-link-hover-color:#ffffff;
    --bs-dropdown-link-hover-bg:#00164d;
}


.player-box {
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #444;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.player-name {
    margin-top: -50px;
    font-size: 1rem;
    margin-right: -80px;
}

.player-money {
    margin-top: 10px;
    font-size: .9rem;
    margin-right: -80px;

}

.card-container{
    position: absolute;
    display: flex;
    gap: 10px;  
    width: 100%;
}

.player-cards{
    width: 75px;
    height: auto;
    margin-bottom: 40px;
    margin-left: -30px;
    transform: rotate(5deg)
    
}

.player-cards:first-child{
    margin-left:-10px;
    transform: rotate(-5deg)
}

.start-button{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1
}