{% extends "presets.html" %}
{% load static %}

{% block content %}
<div class="fixed-bottom pb-4 d-flex justify-content-center">
    <div class="d-inline-flex gap-2">
      <button class="btn btn-dark-green action-btn">
        Bet
      </button>
  
      <button class="btn btn-light-green action-btn">
        Check
      </button>
  
      <button class="btn btn-dark-red action-btn">
        Fold
      </button>
    </div>
  </div>



<div class="start-button"> 
  <button id="start-btn"
  class="btn btn-primary"
  data-url="{% url 'gameplay:start_round_ajax' game.id %}"
  data-csrftoken="{{ csrf_token }}">
  Start
  </button>
</div>



<div class="poker-table-container">
    <div class="poker-table">
      <!-- 8 Player Stat Boxes -->
      <div class="player-box" style="bottom: -20%; left: 50%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img id="p{{ user.player_profile.id }}-card1" class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img id="p{{ user.player_profile.id }}-card2" class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">{{ user.username }}</div>
        <div class="player-money">{{ user.money }}</div>
      </div>
      <div class="player-box" style="bottom: -5%; left: 5%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img id="p{{ user.player_profile.id }}-card3" class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img id="p{{ user.player_profile.id }}-card4" class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">{{ players.user.username }}</div>
        <div class="player-money">{{ user.money }}</div>
      </div>
      <div class="player-box" style="bottom: 50%; left:-17%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">Player 3</div>
      </div>
      <div class="player-box" style="bottom: 105%; left: 5%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">Player 4</div>
      </div>
      <div class="player-box" style="bottom: 115%; left: 50%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">Player 5</div>
      </div>
      <div class="player-box" style="bottom: 105%; left: 95%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">Player 6</div>
      </div>
      <div class="player-box" style="bottom: 50%; left: 117%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">Player 7</div>
      </div>
      <div class="player-box" style="bottom: -5%; left: 95%; transform: translate(-50%, 50%)">
        <div class="card-container">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
          <img class="player-cards" src="{% static 'images/cards/back.png' %}">
        </div>
        <div class="player-name">Player 8</div>
      </div>
</div>



{% endblock content %}