{% extends "presets.html" %}

{% block navbar %}
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary; custom-navbar">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        
 
        <div class="d-flex">
          <ul class="navbar-nav">
            <li class="nav-item">
            <a class="navbar-brand fs-3" href="{% url 'home' %}"> Poker Website</a>
            </li>
          </ul>
        </div>
    
   
        <div class="position-absolute start-50 translate-middle-x d-flex">
          <ul class="navbar-nav flex-row gap-2">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link fw-bold" href="{% url 'gameplay:lobby' %}">Join Game</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="{% url 'home' %}">Home</a>
            </li>
            <form method="post" action="{% url 'gameplay:new_game' %}" class="nav-item">
              {% csrf_token %}
              <button class="nav-link fw-bold" type="submit">Create Game</button>
            </form>
            </li>
          </ul>
        </div>
    
 
        <div class="d-flex align-items-center">
          {% if user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item w-100 px-3 py-2" href="{% url 'password_change' %}">Change Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form method="post" action="{% url 'logout' %}" class="dropdown-item p-0 m-0">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link text-start w-100 px-3 py-2" style="color: inherit; text-decoration: none;">
                      Logout
                    </button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <form class="form d-flex">
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-success ms-2">Sign up</a>
          </form>
          {% endif %}
        </div>
    
      </div>
    </nav>  
{% endblock navbar %}
